* {
  text-align: center;
  background-color: salmon;
}

body {
  width: 960px;
  margin: 0 auto;
}

h1 {
  font-family: 'Annie Use Your Telescope';
  font-size: 56px;
  margin: 0;
}

img {
  display: block;
  margin: 0px auto;
}

.main-image>img {
  margin-bottom: 30px;
}

li>img{
  width: 92px;
  display: inline-block;
  background-color: black;
}

nav li {
  font-size: 24px;
  width: 92px;
}

.column {
  float: left;
  background-color: black;
  width: 300px;
  height: 150px;
  margin: 10px;
  color: white;
}

p, h2 {
  background-color: black;
}

h2 {
  font-family: Arial;
}

ul {
  background-color: black;
}

li {
  display: inline;
  margin: 50px;
  list-style-type: none;
  font-family: Arial;
  background-color: inherit;
}

a:link, a:visited {
  color: white;
  background-color: black;
  text-decoration: none;
}
