* {
  text-align: center;
  background-color: salmon;
}

body {
  width: 960px;
  margin: 0 auto;
}

h1 {
  font-family: 'Annie Use Your Telescope';
  font-size: 56px;
  margin: 0;
}

img {
  display: block;
  margin: 0px auto;
}

.main-image>img {
  margin-bottom: 30px;
}

li>img{
  width: 92px;
  display: inline-block;
  background-color: black;
}

nav li {
  font-size: 24px;
  width: 92px;
}

.column {
  float: left;
  background-color: black;
  width: 300px;
  height: 150px;
  margin: 10px;
  color: white;
}

.column>img {
  width: 300px;
}

main {
  background-color: white;
  overflow: auto;
  height: 400px;
}

main p {
  background-color: white;
  color: black;
}

p, h2 {
  background-color: black;
  color: white;
}

h2 {
  font-family: Arial;
  color: white;
}

#about {
  background-color: salmon;
  height: auto;
}

#about>img {
  width: 540px;
}

#about>p {
  background-color: inherit;
}


ul {
  background-color: black;
}

li {
  display: inline;
  margin: 50px;
  list-style-type: none;
  font-family: Arial;
  background-color: inherit;
}

a:link, a:visited {
  color: white;
  background-color: black;
  text-decoration: none;
}

h3>a:link, h3>a:visited {
  color: black;
  background-color: salmon;
}

table {
	border: 10px solid black;
  margin: 0 auto;
}

td {
	padding: 10px;
  border: 1px solid black;
  background: white;
  padding: 10px;
  font-size: 13px;
}

th {
	background-color: white;
	color: black;
  border: 1px solid black;
}
